@model DredgingCodeFastApp.Models.MauzaModels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MauzaModels</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Union_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Union_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mauza_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mauza_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dredger_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dredger_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
