@model DredgingCodeFastApp.Models.DredgInformationModels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Dredge Data InformationModels</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Density)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Density)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Velocity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Velocity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Production)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Production)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DredgerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DredgerId)
        </dd>

    </dl>
</div>
<p>
    
    @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |
                                                          
    @Html.ActionLink("Back to List", "Index")
        
        
</p>
